<div id="memberships-index">

<h1><%= _('Manage my groups') %></h1>

<% button_bar do %>
  <%= button(:add, _('Create a new community'), :controller => 'memberships', :action => 'new_community') %>
  <%= button :add, _('Register a new enterprise'), :controller => 'enterprise_registration' if environment.enabled?('enterprise_registration') %>
  <%= button :back, _('Go back'), :controller => 'profile_editor' %>
<% end %>

<% type_collection = [[0, _('All')]] %>
<% type_collection += @roles.sort_by {|role| role.id}.map{|r| ["#{r.id}", r.name]} %>

<%= javascript_include_tag "memberships_filter.js" %>
<p>
  <%= labelled_select(_('Filter')+': ', :filter_type, :first, :last, @filter,  type_collection, :id => 'memberships_filter')%>
</p>

<% if @memberships.empty? %>
  <p>
    <em><%= _('No groups to list') %></em>
  </p>
<% else %>
  <%= render :partial => 'shared/list_groups', :locals => {:groups => @memberships} %>
<% end %>

</div>
