<h2><%= _('Add a CSS file') %></h2>

<%= form_tag do %>
  <%= labelled_form_field(_('File name'), text_field_tag('css')) %>

  <% button_bar do %>
    <%= submit_button(:add, _('Add')) %>
    <%= lightbox_close_button(_('Cancel')) %>
  <% end %>

<% end %>
