<div id="display_content_plugin">

<%= javascript_tag 'render_all_jquery_ui_widgets()' %>

<h3> <%= _('Choose which attributes should be displayed and drag to reorder them:') %> </h3>

<table class="sections">
  <tbody id="sortable">
  <% for section in @block.sections do %>
  <tr>
    <td>
      <%= hidden_field_tag 'block[sections][][value]', section[:value] %> 
      <%= check_box_tag 'block[sections][][checked]', section[:value], section[:checked] %>
    </td>
    <td><%= @block.section_name(section[:value]) %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<h3> <%= _('Choose which content should be displayed:') %> </h3>
<% tabs = [] %>
<% tabs << {:title => _('Choose directly'), :id => 'choose-directly', :content => (render :partial => 'choose_directly')} %>
<% tabs << {:title => _('Choose by Content Type'), :id => 'choose_by_content_type', :content => (render :partial => 'choose_by_content_type')} %>

<%= render_tabs(tabs) %>

</div>

